difyworks/Text Embedding.yml
app:
  description: 'Embedding Text '
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Text Embedding
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1736482666909-source-1736483028268-target
      source: '1736482666909'
      sourceHandle: source
      target: '1736483028268'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: end
      id: 1736483028268-source-1736483061501-target
      source: '1736483028268'
      sourceHandle: source
      target: '1736483061501'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: text
          max_length: 50000
          options: []
          required: true
          type: paragraph
          variable: text
      height: 89
      id: '1736482666909'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: newbakery
        provider_name: newbakery
        provider_type: builtin
        selected: false
        title: Text Embedding
        tool_configurations: {}
        tool_label: Text Embedding
        tool_name: text_embedding
        tool_parameters:
          email:
            type: mixed
            value: '{{#1736482666909.email#}}'
          password:
            type: mixed
            value: '{{#1736482666909.password#}}'
          text:
            type: mixed
            value: '{{#1736482666909.text#}}'
        type: tool
      height: 53
      id: '1736483028268'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1736483028268'
          - json
          variable: result
        selected: false
        title: End
        type: end
      height: 89
      id: '1736483061501'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 144
      y: 57.5
      zoom: 1
